/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"); */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: none;
}

body {
  background-color: white;
  display: grid;
  place-content: center;
  /* font-family: "Roboto", sans-serif; */
  height: 100vh;
  font-size: 2rem;
}

.container {
  height: 90vh;
  width: 55vh;
  background-color: black;
  
  padding: 1rem;
  /* -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75); */
}

.wrapper {
  display: grid;
  height: 100%;
  width: 100%;

  
  
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 15px;
}

.screen {
  grid-column: 1 / -1;
  color: orange;
  text-align: right;
  padding: 0.6rem;
  font-size: 3rem;
  /* overflow: hidden; */
}

.btn {
  display: grid;
  place-content: center;
  background-color: rgb(54, 52, 52);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  
}


.orange {
  background-color: orange;
}

/* .orange:hover {
  background-color: white;
  color: orange;
} */

.zero {
  grid-column: 1 / span 2;
  border-radius: 28px;
  /* place-content: unset; */
  /* align-items: center; */
  padding-right: 7rem;
}